name: Build mmrf dictionary

on:
  push:
  # only use `pull_request_target` if you know what you're doing!
  # We need it here to handle PRs from forks. The job below is protected with a label
  pull_request_target:

jobs:
  dictionary:
    name: Build and Deploy Dictionary
    uses: uc-cdis/.github/.github/workflows/dictionary_push.yaml@k-burt-uch-patch-1
    with:
      DIRECTORY: "mmrf_dictionary"
    secrets:
      DICT_AWS_ACCESS_KEY_ID: ${{ secrets.DICT_AWS_ACCESS_KEY_ID }}
      DICT_AWS_SECRET_ACCESS_KEY: ${{ secrets.DICT_AWS_SECRET_ACCESS_KEY }}
